
.icon-key:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-feather:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */